@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400,500,700&display=swap");

:root {
  --border: 1px solid #212121;
  --tr-terpilih-background-color: #e5f3eb;
  --kelas-background-color: #ffffff;
  --kelas-hover-background-color: #b1dcdb;
  --kelas-terpilih-background-color: #7fc6c4;
  --kelas-terpilih-hover-background-color: #cf848b;
  --kelas-bertabrakan-background-color: #f5f5f5;
  --kelas-pesan-bertabrakan-background-color: #da6b72;
  --kelas-pesan-bertabrakan-color: #212121;
  --tabel-jadwal-border-color: #f5f5f5;
  --jadwal-background-color: #62a0cd;
}

body {
  font-family: "Roboto Mono", monospace;
}

body > * {
  margin: 0 auto 1rem;
}

.tabel-mata-kuliah,
.tabel-jadwal,
th,
td {
  border: var(--border);
  border-collapse: collapse;
  padding: 0.5rem;
}

.tabel-mata-kuliah,
.tabel-jadwal {
  text-align: center;
}

.tabel-mata-kuliah .container-kelas {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.tabel-mata-kuliah .kelas {
  background-color: var(--kelas-background-color);
  border: var(--border);
  padding: 0.5rem;
  width: 12rem;
}

.tabel-mata-kuliah .kelas:not(:last-child) {
  margin-bottom: 0.5rem;
}

.tabel-mata-kuliah .kelas:hover {
  background-color: var(--kelas-hover-background-color);
  cursor: pointer;
}

.tabel-mata-kuliah .kelas--terpilih {
  background-color: var(--kelas-terpilih-background-color);
}

.tabel-mata-kuliah .kelas--terpilih:hover {
  background-color: var(--kelas-terpilih-hover-background-color);
}

.tabel-mata-kuliah .kelas[data-bertabrakan-mata-kuliah] {
  background-color: var(--kelas-bertabrakan-background-color);
}

.tabel-mata-kuliah .kelas[data-bertabrakan-mata-kuliah]:hover {
  background-color: var(--kelas-bertabrakan-background-color);
  cursor: default;
}

.tabel-mata-kuliah .kelas__pesan-bertabrakan {
  background-color: var(--kelas-pesan-bertabrakan-background-color);
  border: var(--border);
  color: var(--kelas-pesan-bertabrakan-color);
  font-size: 0.8em;
  margin: 0;
  opacity: 0;
  padding: 0.5rem;
  position: absolute;
  text-align: center;
  transition: opacity;
  width: 12rem;
}

.tabel-mata-kuliah .kelas__pesan-bertabrakan:hover {
  opacity: 1;
}

.tabel-mata-kuliah .kelas p {
  font-size: 0.9em;
  margin: 0;
  text-align: center;
}

.tabel-mata-kuliah .kelas p:first-child {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.tabel-jadwal thead tr th:not(:first-child) {
  width: 10rem;
}

.tabel-jadwal tbody tr {
  height: 4rem;
}

.tabel-jadwal tbody tr td {
  padding: 0;
  width: 10rem;
}

.tabel-jadwal tbody tr:not(:last-child) td {
  border-bottom-color: var(--tabel-jadwal-border-color);
}

.tabel-jadwal tbody tr td:first-child {
  vertical-align: top;
  width: unset;
}

.tabel-jadwal .jadwal {
  background-color: var(--jadwal-background-color);
  position: absolute;
  width: 11rem;
}

.tabel-jadwal .detail-jadwal {
  font-size: 0.8em;
  padding: 0.5rem;
  text-align: start;
}

.tabel-jadwal .detail-jadwal p {
  margin: 0;
}

.tabel-jadwal .detail-jadwal p:first-child {
  font-weight: bold;
  margin-bottom: 0.4em;
}
