@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400,500,700&display=swap");

:root {
  --border: 1px solid #212121;
  --tr-kelas-telah-dipilih-background-color: #fafafa;
  --kelas-background-color: #ffffff;
  --kelas-hover-background-color: #b3e5fc;
  --kelas-dipilih-background-color: #4fc3f7;
  --kelas-dipilih-hover-background-color: #e57373;
  --kelas-bertabrakan-background-color: #ffcdd2;
  --daftar-kelas-bertabrakan-background-color: #f44336;
  --kelas-bertabrakan-color: #212121;
  --tabel-jadwal-border-color: #f5f5f5;
  --jadwal-background-color: #4fc3f7;
}

body {
  font-family: "Roboto Mono", monospace;
}

body > * {
  margin: 0 auto 1rem;
}

.tabel-mata-kuliah,
.tabel-jadwal {
  text-align: center;
}

.tabel-mata-kuliah,
.tabel-mata-kuliah th,
.tabel-mata-kuliah td,
.tabel-jadwal,
.tabel-jadwal th,
.tabel-jadwal td {
  border: var(--border);
  border-collapse: collapse;
  padding: 0.5rem;
}

.tabel-mata-kuliah .tr--kelas-telah-dipilih {
  background-color: var(--tr-kelas-telah-dipilih-background-color);
}

.tabel-mata-kuliah .container-kelas {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.tabel-mata-kuliah .kelas {
  background-color: var(--kelas-background-color);
  border: var(--border);
  padding: 0.5rem;
  width: 12rem;
}

.tabel-mata-kuliah .kelas:not(:last-child) {
  margin-bottom: 0.5rem;
}

.tabel-mata-kuliah .kelas:hover {
  background-color: var(--kelas-hover-background-color);
  cursor: pointer;
}

.tabel-mata-kuliah .kelas--dipilih {
  background-color: var(--kelas-dipilih-background-color);
}

.tabel-mata-kuliah .kelas--dipilih:hover {
  background-color: var(--kelas-dipilih-hover-background-color);
}

.tabel-mata-kuliah .kelas[data-kelas-bertabrakan="true"] {
  background-color: var(--kelas-bertabrakan-background-color);
}

.tabel-mata-kuliah .kelas[data-kelas-bertabrakan="true"]:hover {
  background-color: var(--kelas-bertabrakan-background-color);
  cursor: default;
}

.tabel-mata-kuliah .kelas__kelas-bertabrakan {
  background-color: var(--daftar-kelas-bertabrakan-background-color);
  border: var(--border);
  color: var(--kelas-bertabrakan-color);
  font-size: 0.8em;
  margin: calc(-1px - 0.5rem) 0 0 calc(-1px - 0.5rem);
  display: none;
  padding: 0.5rem;
  position: absolute;
  text-align: center;
  width: 12rem;
}

.tabel-mata-kuliah .kelas__kelas-bertabrakan::before {
  content: "Bertabrakan dengan:";
}

.tabel-mata-kuliah
  .kelas[data-kelas-bertabrakan="true"]:hover
  .kelas__kelas-bertabrakan {
  display: inherit;
}

.tabel-mata-kuliah .kelas p {
  font-size: 0.8em;
  margin: 0;
  text-align: center;
}

.tabel-mata-kuliah .kelas p:nth-child(2) {
  font-weight: bold;
}

.tabel-mata-kuliah .kelas__kelas-bertabrakan li {
  list-style: none;
  margin-top: 0.5rem;
}

.tabel-jadwal th:not(:first-child) {
  width: 10rem;
}

.tabel-jadwal tbody tr {
  height: 4rem;
}

.tabel-jadwal tbody tr td {
  padding: 0;
  width: 10rem;
}

.tabel-jadwal tbody tr:not(:last-child) td {
  border-bottom-color: var(--tabel-jadwal-border-color);
}

.tabel-jadwal tbody tr td:first-child {
  vertical-align: top;
  width: unset;
}

.tabel-jadwal .jadwal {
  background-color: var(--jadwal-background-color);
  position: absolute;
  width: 11rem;
}

.tabel-jadwal .jadwal__detail {
  font-size: 0.8em;
  padding: 0.5rem;
  text-align: start;
}

.tabel-jadwal .jadwal__detail p {
  margin: 0;
}

.tabel-jadwal .jadwal__detail p:first-child {
  font-weight: bold;
}
